node_modules/
build/
dist/
out/

.vscode-test/
dist-ssr/
coverage/
logs/

*.log
.DS_Store
.idea
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
bundle-analysis.html
.env
*.db
*.vsix
*.old
.npmrc
