node_modules/
src/
.git/
.vscode/
.husky/
*.log
.env
tsconfig.json
.gitignore
.gitattributes
.prettierrc
.editorconfig
README.md
example.npmrc
test-package.sh
package.json
package-lock.json
xo[.-]config.ts
