node_modules/
src/
.git/
.vscode/
.husky/
*.log
*.old
.env
.env.local
.env.example
tsconfig.json
.gitignore
.gitattributes
.prettierrc
.editorconfig
README.md
example.npmrc
test-package.sh
package.json
xo[.-]config.ts
tsconfig.tsbuildinfo
.npmrc
